<div class="container">
	<div class="row" style="height:50px;"></div>
	<div class="row">
<!-- 		<div class="input-group">
			<input data-ng-model="text" type="text" class="form-control" style="width:500px;">
		</div>
 -->	
	<form class="" role="" data-ng-submit="ask();">
    <div class="form-group">
      <input data-ng-model="text" type="text" class="form-control" placeholder="Intreaba-ma">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
	</div>
	<div class="row">
		<ul class="list-group">
			<li data-ng-repeat="element in list" class="list-group-item">
				<label>Intrebare: {{element.question}}</label>
				</br>
				<label>Raspuns: {{element.answer}}</label>
			</li>
		</ul>
	</div>
</div>