<div class="table-responsive" align=center style='padding-top:20px'>
    <table class="table table-condensed table-bordered my-timetable" data-ng-mouseleave="onMouseLeave();" style="width:400px;">
        <colgroup>
            <col span="1" width="1%">
            <col span="1" width="60%">
        </colgroup>
        <thead>
            <!-- <th></th>
            <th data-ng-repeat="day in days" data-ng-click="toggle('day', $index)">{{day}}</th> -->
        </thead>
        <tbody>
            <tr data-ng-repeat="i in loop(0, 47, 1)">
                <th data-ng-click="toggle(i)" style="font-size:xx-small;">{{i/2 | floor}}:{{i | halfhour}}0</th>
                <td data-ng-mousedown="select(true, i);show('mousedown')" data-ng-mouseup="select(false);seeBooking();show('mousedoup')" data-ng-mouseover="toggle(i);show('mouseover')" data-ng-click="click(i);show('click');" data-ng-class="{selected: slots[i], selectable: !slots[i], party: schedule[i].taskType==='Petrecere', date: schedule[i].taskType==='Intalnire', course: schedule[i].taskType==='Curs', sport: schedule[i].taskType==='Sport', other: schedule[i].taskType==='Altele'}" class="text-center">{{schedule[i].title}}</td>
            </tr>
        </tbody>
    </table>
</div>

<style type="text/css">
.other {
    background-color: magenta;
}
.course {
    background-color: pink;
}
.sport {
    background-color: green;
}
.party {
    background-color: red;
    cursor: default;
}
.date {
    background-color: orange;
    cursor: default;
}
.selected {
	background-color: black;
}
.selectable {
	cursor: pointer;
}
.selectable:hover {
	background-color: orange;
}
</style>