<div class="container">
	<div class="row" style="height:50px;"></div>
	<div class="row">
		<a href data-ng-repeat="element in list track by $index" data-ng-click="addToFav(element);" class="row">{{element.name}}</a>
	</div>
</div>